@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- Custom Styles ---------- */
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css */
/* body > * {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
} */


/* تم‌ها */
.bg-day-gradient {
  background: linear-gradient(to right, #2D3BCF, #396dd6);
}
.bg-green-gradient {
  background: linear-gradient(to right, #103634, #2b4e2c);
}
.bg-purple-gradient {
  background: linear-gradient(to right, #360064, #4A00E0);
}
.bg-red-gradient {
  background: linear-gradient(to right, #4A1E1E, #B52626);

}
.bg-dark-gradient {
  background: linear-gradient(to right, #101622, #20242e);
  color: #f5f5f5;
}

.box-day-gradient {
  background: linear-gradient(to right, #2D3BCF, #ffffff);
}
.box-green-gradient {
  background: linear-gradient(to right, #103634, #ffffff);
}
.box-purple-gradient {
  background: linear-gradient(to right, #360064, #ffffff);
}
.box-red-gradient {
  background: linear-gradient(to right, #4A1E1E, #ffffff);
}
.box-dark-gradient {
  background: linear-gradient(to right, #101622, #ffffff);
  color: #f5f5f5;
}

/* nav {
  position: relative;
  overflow: hidden;
  transition: background var(--site-transition) ease-in-out, opacity var(--site-transition) ease-in-out;
} */


/* حالت تاریک */
.dark body {
  @apply bg-gray-900 text-gray-100;
}

/* اسکرول‌بار زیباتر */
/* ::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-700;
} */

/* ---------- Custom Utilities ---------- */
/* @layer utilities {
  .transition-bg {
    @apply transition-opacity duration-[1500ms] ease-in-out;
  }
} */
/* @layer utilities {
  .transition-bg {
    transition: opacity 1500ms ease-in-out;
  }
} */
@layer utilities {
  /* ترنزیشن لایه‌ی پس‌زمینه‌ی سایت */
  .transition-bg-site {
    transition: opacity var(--site-transition, 1500ms) ease-in-out;
  }
  /* ترنزیشن لایه‌ی پس‌زمینه‌ی Hero */
  .transition-bg-hero {
    transition: opacity var(--hero-transition, 1500ms) ease-in-out;
  }
}
